/* ====================================================
 * Global
 * ==================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  font-size: 62.5%;
}

main {
  /* Display & Box Model */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  width: 95%;
  height: 100vh;
  margin: 0 auto;
}

.button {
  /* Display & Box Model*/
  width: 50%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: .5rem;

  /* Other */
  background: hsl(200, 50%, 50%);
  font-size: 1.6rem;
  color: hsl(0, 1%, 100%);
  text-align: center;
}

.button:hover {
  cursor: pointer;
}

/* ====================================================
 * Modal
 * ==================================================== */
 .gameOverModal {
  /* Positioning */
  position: fixed;

  /* Display & Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  /* Other */
  background: hsla(0, 1%, 99%, 0.9);
}

/* Display & Box Model */
.gameOverModal-hiding {
  display: none;
}

.gameOverModal-content {
  /* Display & Box Model */
  width: 50%;
  border-radius: .2rem;

  /* Other */
  background: hsl(0, 10%, 90%);
}

.gameOverModal-header {
  /* Display & Box Model */
  padding: 1rem;
  border-bottom: 0.1rem dashed black;

  /* Other */
  text-align: center;
}

/* ====================================================
 * playerSelect
 * ==================================================== */
 .playerSelect-header {
  margin-bottom: 3rem;
}

.playerSelect-header h1 {
  text-align: center;
}

.playerSelect-choices {
  border: 1px solid black;
  border-radius: .5rem;
}

.playerSelect-choices-hiding {
  display: none;
}

.playerSelect-row {
  padding: 1rem;
}

fieldset {
  border: none;
  padding-top: 2rem;
}

legend {
  font-size: 2rem;
}

fieldset label {
  margin-right: 3rem;
  margin-left: .3rem;
  font-size: 1.5rem;
}

.playerSelect-input {
  border: 1px solid black;
  border-radius: .5rem;
}

.playerSelect-input-hiding {
  display: none;
}

.playerSelect-input input {
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: .3rem;
  border: 1px solid black;
}

.playerSelect-input label {
  font-size: 1.4rem;
}

.scoreboard-hiding {
  display: none;
}

.scoreboard {
  padding: 1rem;
  border: 1px solid red;
}

.scoreboard .scoreboard-row:last-of-type {
  margin-top: 2rem;
}

.scoreboard span:last-of-type {
  float: right;
}

/* ====================================================
 * Table
 * ==================================================== */
table {
  /* Display & Box Model */
  margin: 3rem auto;
  width: 80%;

  /* Other */
  font-size: 5rem;
  /* !!!! Allows for no spacing between table elements !!!! */
  border-collapse: collapse;
}

td {
  /* Display & Box Model */
  height: 15rem;
  width: 10rem;

  /* Other */
  text-align: center;
}

td:first-child {
  border-right: 2px solid red;
}

td:last-child {
  border-left: 2px solid red;
}

tr:nth-child(2) td {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}