* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

main {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  margin-top: 3rem;
  border: 1px solid black;
}

tr {
  width: 3rem;
  height: 3rem;
  border: 1px solid black;
}

td {
  width: 3rem;
  height: 3rem;
  border: 1px solid black;
  text-align: center;
}